<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="31.2.2." />
  <package id="Syncfusion.Pdf.Wpf" version="31.2.2." />
  <package id="syncfusion.pdfviewer.wpf" version="31.2.2." />
  <package id="syncfusion.tools.wpf" version="31.2.2." />
  <package id="syncfusion.sfchat.wpf" version="31.2.2." />
</packages>