<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="31.2.2." />
  <package id="Syncfusion.Pdf.Wpf" version="31.2.2." />
  <package id="syncfusion.pdfviewer.wpf" version="31.2.2." />
  <package id="syncfusion.sfbusyindicator.wpf" version="31.2.2." />
  <package id="syncfusion.sfskinmanager.wpf" version="31.2.2." />
  <package id="syncfusion.shared.wpf" version="31.2.2." />
  <package id="syncfusion.themes.office2019black.wpf" version="31.2.2." />
  <package id="syncfusion.themes.office2019colorful.wpf" version="31.2.2." />
</packages>