<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="34.1.29" />
  <package id="Syncfusion.Pdf.Wpf" version="34.1.29" />
  <package id="syncfusion.pdfviewer.wpf" version="34.1.29" />
  <package id="syncfusion.sfbusyindicator.wpf" version="34.1.29" />
  <package id="syncfusion.sfskinmanager.wpf" version="34.1.29" />
  <package id="syncfusion.shared.wpf" version="34.1.29" />
  <package id="syncfusion.themes.office2019black.wpf" version="34.1.29" />
  <package id="syncfusion.themes.office2019colorful.wpf" version="34.1.29" />
  <package id="syncfusion.licensing" version="34.1.29" />
</packages>